.dashboard{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer{
    border: none;
    min-width: 16%;
    padding: 16px 24px;
}

mat-list-option {
    margin-bottom: 12px;
    background-color: #ffffff11;
}

mat-list-option:hover{
    background-color: #ffffff29;
}

app-movie-list, app-actor-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 64px 32px;
    padding: 32px;
}

