<div class="dashboard">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My Movies</span>
    </mat-toolbar>
    
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <mat-selection-list #sidenav [multiple]="false">
                <mat-list-option (click)="openMenu('movie')">Movie List</mat-list-option>
                <mat-list-option (click)="openMenu('actor')">Actor List</mat-list-option>
                <mat-list-option value="about">About</mat-list-option>
            </mat-selection-list>
        </mat-drawer>
        <div class="movie-list">
            <app-movie-list *ngIf="menu[0]"></app-movie-list>
            <app-actor-list *ngIf="menu[1]"></app-actor-list>
        </div>
    </mat-drawer-container>
</div>
