@font-face {
    font-family: "poppin";
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "poppin";
    src: url(../fonts/Poppins-Black.ttf);
    font-weight: 700;
}

*{
    font-family: "poppin", sans-serif;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5{
    margin: 0;
}

header{
    height: 64px;
    background-color: #2E2E36;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    position: sticky;
    top: 0;
    
}

header nav{
    display: flex;
    gap: 16px;
}

header a{
    color: white;
    text-decoration: none;
    transition: color .3s ease;
}

header a:hover{
    color: #01BC9A;
}

#about{
    background-color: #2E2E36;
    padding: 24px 32px;
    color: white;
}

#about h1{
    font-size: 2.3em;
}

#contact{
    padding: 24px 32px;
}

.social_media{
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.social_media a{
    color: white;
    text-decoration: none;
    background-color: #01BC9A;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color .3s ease;
}

.social_media a:hover{
    background-color: #007b64;
}

.color-s{
    color: #01BC9A;
}