<mat-card (click)="onCardClick(card.id)">
    <div *ngIf="card.isOpen">
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
        <a [routerLink]="['/detail', card.id]" mat-raised-button color="primary">Click Button For Detail</a>
    </div>
    <div *ngIf="!card.isOpen">
        <mat-card-title>&nbsp;</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <button mat-raised-button color="primary" style="visibility: hidden">&nbsp;</button>
    </div>
</mat-card>