<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h1>{{ formText }} USER</h1>

    <mat-form-field appearance="fill">
        <mat-label>Your ID</mat-label>
        <input matInput type="number" formControlName="idNumber" min="0" max="9999999" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Your Name</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Your Age</mat-label>
        <input matInput type="number" formControlName="age" min="0" max="200" required>
    </mat-form-field>

    <div>
        <label>Your Gender: </label><br>
        <mat-radio-group formControlName="gender" required>
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Your Email</mat-label>
        <input matInput type="email" formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Your Position</mat-label>
        <mat-select formControlName="position" required>
          <mat-option value="Position One">First Position</mat-option>
          <mat-option value="Position Two">Second Position</mat-option>
          <mat-option value="Position Three">Third Position</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Marital Status</mat-label>
        <mat-select formControlName="marital" required>
          <mat-option value="Married">Married</mat-option>
          <mat-option value="Single">Single</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="addresses">
        
        <div class="addresses-header">
            <h3><b>ADDRESSES</b></h3>
            <button mat-flat-button type="button" color="primary" (click)="addNewAddress()">Add New Address</button>
        </div>
        <hr>
        <div formArrayName="addresses" *ngFor="let addresse of userForm.value.addresses; let i = index; trackBy: trackByFn">
            <h4 style="margin-top: 12px;">Address {{ i + 1 }}</h4>
            <ng-container [formGroupName]="i">
                <div class="addressesForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Your Address</mat-label>
                        <input matInput formControlName="address" required>
                    </mat-form-field>
                
                    <mat-form-field appearance="fill">
                        <mat-label>Zip Code</mat-label>
                        <input matInput type="number" formControlName="zipCode" min="0" required>
                    </mat-form-field>
                
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" required >
                    </mat-form-field>
                
                    <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="country" required>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
    </div>


    <div class="buttons">
        <button mat-flat-button color="primary" type="submit">Submit</button>
        <button mat-flat-button type="button" (click)="backToList()">Cancel</button>
    </div>
</form>