<h1>MY WEBSITE USER LIST</h1>
<div class="users">
    <div [ngClass]="modalClass">
        <div class="users-modal-card">
            <h3>ADD NEW USER</h3>
            <label>Fullname</label>
            <input type="text" [(ngModel)]="fullname" placeholder="What is your name?">
            <label>Email</label>
            <input type="email" [(ngModel)]="email" placeholder="What is your email?">
            <label>Avatar</label>
            <div class="avatars">
                <div [ngClass]="avatarClass[0]" (click)="chooseAvatar(0)">
                    <img [src]="avatarLinks[0]"/>
                </div>
                <div [ngClass]="avatarClass[1]" (click)="chooseAvatar(1)">
                    <img [src]="avatarLinks[1]"/>
                </div>
                <div [ngClass]="avatarClass[2]" (click)="chooseAvatar(2)">
                    <img [src]="avatarLinks[2]"/>
                </div>
                <div [ngClass]="avatarClass[3]" (click)="chooseAvatar(3)">
                    <img [src]="avatarLinks[3]"/>
                </div>
            </div>
            <div class="modal-buttons">
                <button (click)="addNewUser()" id="button-submit">Submit</button>
                <button (click)="onAddUser('close')" id="button-cancel">cancel</button>
            </div>
        </div>
    </div>
    <div class="users-header">
        <button (click)="onAddUser('open')">Add New User</button>
        <h4>Users Total : {{ users.length }}</h4>
    </div>
    <div class="user-list">
        <app-user *ngFor="let user of users" [user]="user"></app-user>
    </div>
</div>