.the-user{
    background-color: white;
    display: grid;
    grid-template-columns: 20% 80%;
    border-radius: 4px;
    transition: transform .3s ease;
    cursor: pointer;
    padding: 16px;
}

.the-user:hover{
    transform: scale(1.02);
}

.user-detail{
    padding: 16px;
}

.user-detail p{
    margin: 0;
}

.user-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-avatar img{
    width: 100%;
}