*{
    color: white;
}

h1, h2, h3, h4, h5, p{
    margin: 4px;
}

table{
    width: 100%;
    margin-top: 16px;
}

td{
    padding: 6px;
    vertical-align: top;
}

ul{
    margin: 0;
    padding: 0 16px;
}

li{
    margin-bottom: 8px;
}

.user-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}