.user-list{
    background-color: #ffffff10;
    height: 70vh;
    margin: 32px 24px;
    padding: 16px;
    overflow-y: scroll;
}

h2, h1{
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 32px;
}

.container{
    display: grid;
    grid-template-columns: .4fr .6fr;
    gap: 12px;
}

mat-list-option{
    background-color: #ffffff12;
    margin: 6px 0;
}

.user-detail{
    background-color: #ffffff10;
    margin: 32px 24px;
    border-right: 8px #ffffff1c solid;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 32px;
}

.user-list::-webkit-scrollbar {
    width: 8px;
}

.user-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff1c;
}

.user-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff2d;
}

.user-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

.user-list-header input{
    background-color: #ffffff4c;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0 16px;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}
  
:-ms-input-placeholder {
    color: white;
}
  
::-ms-input-placeholder {
    color: white; 
}